
.deckView {
    margin: 10px;
    width: 45%;
}

.cardView {
    margin: 10px;
    width: 45%;
    height: 250px;
}

.btn {
    margin: 0px 5px;
}

.delete {
    outline-style: auto;
    outline-color: grey;
}
.delete:hover {
    background-color: grey;
}

.add {
    width: 100%;
}

i {
    vertical-align: 1px;
}

.row {
    margin-bottom: 10px;
}